.map-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    #slush-map-img {    
        max-width: 100%;
    }
    .map{
        position: relative;
        display: inline-block;
        img{
            display: block;
            max-width: 100%;
        }
        #slush-map-img-dup {
            position: absolute;
            top:0;
            left: 0;
            z-index: -1;
        }
        #slush-map-img {
            z-index: 100;
            opacity: 0;
        }
        svg{
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
        }
        .slush-map {
            position: relative;
            opacity: 0;
        }
    }
}
.svg {
    position:absolute;
}
img {
    position: relative;
}