
<div class="nav-wrapper">
    <a routerLink="/home" class="logo">
        <img src="../../assets/image/slushlogo.png" alt="slush-logo"/>
    </a>
    <div class="navContainer collapse">
        <a routerLink="/home" class="navItem"><p>Home</p><i class="fas fa-home"></i></a>
        <a routerLink="/map/0/0/1" class="navItem"><p>Map</p><i class="fas fa-map-signs"></i></a>
        <a routerLink="/presswhenyouarestress" class="navItem"><p>Press when you are stress</p><i class="fas fa-question-circle"></i></a>
    </div>
</div>