.emergency-wrapper {
    padding: 1.5%;
    width: 100%;
    .emergency-container {
        color: rgb(218, 212, 212);
    }
}
img {
    width: 100%;
    max-width: 75px;
}
th {
    color: rgb(218, 212, 212);
}
td {
    color: rgb(218, 212, 212);
}