<h1 class="title-pen"> User Profile </h1>
<div class="user-profile"  *ngIf="auth.user$ | async as user">
  <div class="user-detail-info">
    <div class="user-avatar">
      <img class="avatar" src={{user.photoURL}} alt="my avatar" />
    </div>
    <div class="user-description">
      <div class="username">{{user.displayName}}</div>
      <div class="bio">
        Food and education passioner
      </div>
        <div class="description">
          I enjoy the Slush. Both at the event and in the restroom.
      </div>
    </div>
  </div>
  <ul class="data row">
      <li class="col-4">
        <span class="entypo-heart"> 127</span>
      </li>
      <li class="col-4">
        <span class="entypo-eye"> 853</span>
      </li>
      <li class="col-4">
        <span class="entypo-user"> 311</span>
      </li>
    </ul>
</div>
<div class="map-locate">
  <h1>Where am I?</h1>
  <input type="number" #locationCode placeholder="Location code" (change)="locationCodeChange(locationCode.value)">
  <button (click)="locateMe()">LOCATE</button>
</div>