/* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
.map-locate {
  border-radius: .3em;
  text-align: center;
  align-items: center;
  h1 {
    color: rgb(91, 92, 97);
    size: 2rem;
  }
  input {
    width: 80%;
    max-width: 350px;
    letter-spacing: normal;
    height: 40px;
    border-radius: 0.3rem;
    border: 2px solid black;
    background-color: transparent;
    padding: 4px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    color: rgb(91, 92, 97);
    font-size: 1rem;
    font-weight: bolder;
  }
  button {
    margin-top:1%;
    background-color: transparent;
    color: rgb(91, 92, 97);
    font-weight: 900;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
  }
  
}
.title-pen {
  color: rgb(91, 92, 97);
  text-align: center;
}

.user-profile {
  margin: auto;
	width: 50%; 
  background: #fff;
  border-radius: .3em;
  .user-detail-info {
    padding: 1.75% 1% 0 1%;
    .user-avatar {
      width: 23%;
      display: inline-block;
      vertical-align: middle;
      img.avatar {
        width: 95%;
        height: auto;
        max-height: 8.23em;
        max-width: 8.23em;
        border-radius: 18em;
      }
    }
    .user-description {
      width: 75%;
      display: inline-block;
      padding-left: 10px;
      vertical-align: middle;
      .username {
        color: #658585;
        font-size: 1.53em;
        font-weight: bold;
      }
      .bio {
        margin: 2px 0;
        display: inline-block;
        color: #e76043; 
        font-size: .87em;
        font-family: "varela round", sans-serif;
      }
    } 
  }
  ul.data {
    margin: 1em auto;
    height: 3.70em;
    background: #99268E;
    border-radius: 0 0 .3em .3em;
    display: block;
    list-style-type: none;
    li {
      padding: 1.30em;
      text-align: center;
    }
  }
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}
